<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log\\Log" />
    <param name="AppendToFile" value="true" />
    <param name="DatePattern" value="_yyyy-MM-dd.lo\g" />
    <param name="RollingStyle" value="Date" />
    <param name="StaticLogFileName" value="false" />
    <!--filter type="log4net.Filter.LevelRangeFilter">
          <acceptOnMatch value="true" />
          <levelMin value="INFO" />
          <levelMax value="FATAL" />
        </filter-->
    <layout type="log4net.Layout.PatternLayout">
      <!--conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" /-->
      <conversionPattern value="[ThreadId: %t] %d [%t] [%-5p] %5rms %logger %-M - %m%n" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="RollingLogFileAppender" />
  </root>
</log4net>